@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Roboto&family=Tangerine&display=swap');

body {
    background: #014B43;
    color: #F9ECE5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
}